/* for chat.component.css */
.list-messages {
    display: flex;
    flex-direction: column;
    height: 88%;
    overflow: auto;
}

.left-message {
    display: flex;
    margin-left: 10px;
}

.right-message {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.input-message {
    border-top: 2px solid grey;
    height: 12%;
    background-color:lightskyblue;
}

.input-text-message {
    height: 100%;
    width: 80%;
}

.input-send {
    color: #007bff;
    position: relative;
    left: 7px;
    top: -22px;
}
